html {
  background-color: black;
}

main {
  clear: both;
  background-color: white;
}

body {
  margin: 0 auto;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 400px;
}

header {
  color: #007d7b;
}

h1 {
  font-size: 3em;
  background-color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.25em;
}

nav a {
  font-size: 1.5em;
}

nav li {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  list-style: none;
}

nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: auto;
}

button {
  background: #007d7b;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:active {
  color: #007d7b;
  background: #ffffff;
}

footer {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*SELECTORS*/

[href="#top"] {
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0px 0px;
}

#sImage {
  height: 280px;
}

#lImage {
  height: 620px;
}

.container {
  float: left;
  width: 420px;
  position: relative;
  display: block;
  margin: 5px;
  overflow: auto;
}

.tMid {
  text-transform: uppercase;
  position: absolute;
  top: 2%;
  left: 30%;
  font-size: 18px;
}

.bMid {
  text-transform: uppercase;
  position: absolute;
  bottom: 2%;
  right: 40%;
  font-size: 18px;
}

.bText {
  text-transform: uppercase;
  color: black;
}

.wText {
  text-transform: uppercase;
  color: white;
}

#mainNav {
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
}

#contact {
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  width: 450px;
}

#contact h2,
#contact h2 + p {
  text-align: center;
  margin: 10px auto auto 5px;
}

#contact form {
  text-align: center;
}

#contact label,
[placeholder] {
  font-size: 16px;
  text-transform: uppercase;
}

#contact input {
  width: 450px;
  height: 30px;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
}

/*RESPONSIVE*/
@media screen and (min-width: 880px) {
  body {
    margin: 0 auto;
    width: 850px;
  }
  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contact {
    width: 850px;
  }

  #contact input {
    width: 850px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    margin: 0 auto;
    width: 1300px;
  }

  #mainNav {
    display: flex;
    text-justify: right;
    flex-wrap: nowrap;
  }
  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #contact {
    width: 1300px;
  }

  #contact input {
    width: 1300px;
  }
}
